@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

<p>
This site showcases two sample games that consumes the operations exposed by a generic game play service API. The game play service is responsible for handling the generic game operations like user authentication, joining multiple players to a game, and persisting the game live state. 
</p>
<p>
    Select an option from the menu to start playing with the samples, see your profile and friends, and check your score on the leaderboard!
</p>