@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
        <script type="text/javascript" src="@Url.Content("~/Scripts/flXHR-1.0.6/flXHR.js")"></script> 
	    <script type="text/javascript" src="@Url.Content("~/Scripts/flXHR-1.0.6/jquery.flXHRproxy.js")"></script> 

<h2>Game</h2>

<script type="text/javascript">

    jQuery(document).ready(function () {
        var apiURL = "http://127.0.0.1:81/";

        $.flXHRproxy.registerOptions(apiURL, { xmlResponseText: false, loadPolicyURL: apiURL + "crossdomain.xml" });

        $.ajax({
            type: "POST",
            url: apiURL + "Game/Create",
            data: { gameType: "invitation" },
            success: function (data) {
                alert(data);
            },
            error: function (req, status, error) {
                alert(error);
            }
        });
    });

</script>