@using Microsoft.Samples.SocialGames.Web.Areas.Samples.Extensions;

@{
    ViewBag.Title = "TicTacToeGame Test";
}

<link href="@Url.Content("~/Content/qunit.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/qunit.js")" type="text/javascript"></script>
<script src="@Url.AreaContent("Scripts/game/ConnectFourGame.js")" type="text/javascript"></script>


<h1 id="qunit-header">ConnectFourGame Tests</h1>

<h2 id="qunit-banner"></h2>
<div id="qunit-testrunner-toolbar"></div>
<h2 id="qunit-userAgent"></h2>
<ol id="qunit-tests"></ol>
<div id="qunit-fixture">test markup, will be hidden</div>

<script type="text/javascript">
    $(function () {
        test("Create Empty Board", function () {
            var game = new ConnectFourGame(6, 6);

            for (var x = 0; x < 6; x++)
                for (var y = 0; y < 6; y++)
                    ok(game.isEmpty(x, y));

            equal(game.isTie(), false);
            equal(game.hasWinner(), false);
        });

        test("Valid Moves on Empty Board", function () {
            var game = new ConnectFourGame(6, 6);

            for (var x = 0; x < 6; x++) {
                ok(game.isValid(x, C4Color.Cross));
                ok(game.isValid(x, C4Color.Circle));
            }
        });

        test("First Moves on Empty Board", function () {
            var game = new ConnectFourGame(6, 6);

            for (var x = 0; x < 6; x++) {
                game.move(x, C4Color.Cross);
                equal(game.getColor(x, 5), C4Color.Cross);
                ok(game.isEmpty(x, 4));
                game.move(x, C4Color.Circle);
                equal(game.getColor(x, 4), C4Color.Circle);
                ok(game.isEmpty(x, 3));
            }
        });

        test("Second Moves on Empty Board", function () {
            var game = new ConnectFourGame(6, 6);

            for (var x = 0; x < 6; x++) {
                game.move(x, C4Color.Cross);
                game.move(x, C4Color.Cross);
                game.move(x, C4Color.Cross);
                equal(game.getColor(x, 5), C4Color.Cross);
                equal(game.getColor(x, 4), C4Color.Cross);
                equal(game.getColor(x, 3), C4Color.Cross);
                ok(game.isEmpty(x, 2));
            }

            equal(game.getWinner(), C4Color.Cross);
        });

        test("Four in a Row: Horizontal", function () {
            for (var x = 0; x <= 2; x++) {
                for (var y = 0; y < 6; y++) {
                    var game = new ConnectFourGame(6, 6);

                    for (var k = 0; k < 4; k++) {
                        game.forceMove(x + k, y, C4Color.Cross);
                    }

                    equal(game.getWinner(), C4Color.Cross);
                }
            }
        });

        test("Four in a Row: Vertical", function () {
            for (var y = 0; y <= 2; y++) {
                for (var x = 0; x < 6; x++) {
                    var game = new ConnectFourGame(6, 6);

                    for (var k = 0; k < 4; k++) {
                        game.forceMove(x, y + k, C4Color.Cross);
                    }

                    equal(game.getWinner(), C4Color.Cross);
                }
            }
        });

        test("Four in a Row: Top Left To Bottom Right", function () {
            for (var xoffset = 0; xoffset <= 2; xoffset++) {
                for (var yoffset = 0; yoffset <= 2; yoffset++) {
                    var game = new ConnectFourGame(6, 6);

                    for (var x = 0; x < 4; x++) {
                        game.forceMove(x + xoffset, x + yoffset, C4Color.Cross);
                    }

                    equal(game.getWinner(), C4Color.Cross);
                }
            }
        });

        test("Four in a Row: Bottom Left To Top Right Winners", function () {
            for (var xoffset = 0; xoffset <= 2; xoffset++) {
                for (var yoffset = 0; yoffset <= 2; yoffset++) {
                    var game = new ConnectFourGame(6, 6);

                    for (var x = 0; x < 4; x++) {
                        game.forceMove(x + xoffset, 5 - (x + yoffset), C4Color.Cross);
                    }

                    equal(game.getWinner(), C4Color.Cross);
                }
            }
        });
    });
</script>

