@using Microsoft.Samples.SocialGames.Web.Areas.Samples.Extensions;

@{
    ViewBag.Title = "CanvasTest";
}

<script src="@Url.AreaContent("Scripts/game/TicTacToeBoard.js")" type="text/javascript"></script>
<script src="@Url.AreaContent("Scripts/game/TicTacToeGame.js")" type="text/javascript"></script>

<h2>TicTacToeBoard Test</h2>

<canvas id="board" width="300" height="300">
</canvas>

<script type="text/javascript">
    var canvas = document.getElementById("board");
    var board = new TicTacToeBoard(canvas);
    var game = new TicTacToeGame();

    board.onMove = function (x, y) {
        if (!game.isValid(x, y, currentColor))
            return;
        game.move(x, y, currentColor);
        board.drawMove(x, y, currentColor);
        currentColor = nextColor(currentColor);
    };

    var currentColor = TTTColor.Cross;

    function nextColor(color) {
        if (color === TTTColor.Cross)
            return TTTColor.Circle;
        if (color === TTTColor.Circle)
            return TTTColor.Cross;
    }
</script>