@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Login</h2>

<p>
    To test the game, open another browser window using InPrivate mode (Ctrl+Shift+P in Internet Explorer), login with an alternate account and join the battle queue from both windows.
</p>

<div class="status">
</div>

<table id="loginsTable">
</table> 

<script type="text/javascript">
    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == variable) {
                return pair[1];
            }
        }
    }

    jQuery(document).ready(function () {

        $(".status").text("Loading...");

        var returnUrl = getQueryVariable("ReturnUrl");

        if (returnUrl == null || returnUrl == undefined)
            returnUrl = "";

        // Get login info
        $.ajax({
            type: "GET",
            url:  "/auth/loginselector?returnUrl=" + returnUrl,
            dataType: "json",
            success: function (result) {
                createLoginButtons(result);
            },
            error: function (req, status, error) {
                alert(error);
            }
        });
    });

    // Create the login button for each identity provider
    function createLoginButtons(loginInfoList) {
        var loginsTable = $('#loginsTable');
        loginsTable.empty();

        $(".status").text("");

        $.each(loginInfoList, function (i, loginInfo) {
            var loginButton = $('<input type="button">');

            loginButton.attr("value", loginInfo.Name);
            loginButton.click(function () { window.location.href = loginInfo.LoginUrl; });

            var loginsTableTd = $('<td>');
            loginsTableTd.append(loginButton);

            var loginsTableTr = $('<tr>');
            loginsTableTr.append(loginsTableTd);

            loginsTable.append(loginsTableTr);
        });
    }
</script>