<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title><#= Sample.Title #> - <#= topicTitle #></title>
        <link href="styles/docstyle.css" type="text/css" rel="stylesheet" />
		<link href="styles/style.css" type="text/css" rel="stylesheet" />
		<script src="scripts/script.js" type="text/javascript" language="jscript"></script>
  	</head>
<body>
	<div id="outerWrapper">
		<div id="wrapper">  
			<div id="header">
				<div id="azureheader"></div>
				<div class="clear"></div>
				<!-- START NAVIGATION BAR -->
				<#@ include file="navigation.include.tt" #>
				<!-- END NAVIGATION BAR -->
			</div>
			