@{
    this.ViewBag.Title = "Tankster | Leaderboard";
}
<br />
<div>

    <p class="status">
        Loading...
    </p>

    <div data-bind="visible: isScoresEmpty()">There are no scores yet. Start playing to gather the leaderboard records.</div>
    <div data-bind="visible: !isScoresEmpty(), template: { name: 'buttons', foreach: topScores}"></div>
    <div data-bind="visible: !isScoresEmpty(), template: { name: 'board', foreach: topScores}"></div>
    <span data-bind="visible: showUserScores()"><p>Your position:</p></span>
    <div data-bind="visible: showUserScores(), template: { name: 'userBoard', foreach: userScores}"></div>
    
    <script id="buttons" type="text/html">
        <input type="button" data-bind='value: Name, click: function() { showBoard(Id); }' />
    </script>

    <script id="board" type="text/html">
        <table class="style1 board" data-bind='attr: { id: "board" + Id }'>
            <thead>
                <tr>
                    <th class="style1">
                        Position
                    </th>
                    <th class="style1">
                        Player
                    </th>
                    <th class="style1" data-bind='css: { highlight: Name == "Rank" }'>
                        Rank
                    </th>
                    <th class="style1" data-bind='css: { highlight: Name == "XP" }'>
                        XP
                    </th>
                    <th class="style1" data-bind='css: { highlight: Name == "Kills" }'>
                        Kills
                    </th>
                    <th class="style1" data-bind='css: { highlight: Name == "Victories" }'>
                        Victories
                    </th>
                    <th class="style1" data-bind='css: { highlight: Name == "Accuracy" }'>
                        Accuracy
                    </th>
                    <th class="style1" data-bind='css: { highlight: Name == "TerrainDeformation" }'>
                        Terrain Deformation
                    </th>
                </tr>
            </thead>
            <tbody data-bind='template: { name: "score", foreach: Scores }'>
            </tbody>
        </table>
    </script>

    <script id="userBoard" type="text/html">
        <table class="style1 userboard" data-bind='attr: { id: "userboard" + Id }'>
            <thead>
                <tr>
                    <th class="style1">
                        Position
                    </th>
                    <th class="style1">
                        Player
                    </th>
                    <th class="style1" data-bind='css: { highlight: Name == "Rank" }'>
                        Rank
                    </th>
                    <th class="style1" data-bind='css: { highlight: Name == "XP" }'>
                        XP
                    </th>
                    <th class="style1" data-bind='css: { highlight: Name == "Kills" }'>
                        Kills
                    </th>
                    <th class="style1" data-bind='css: { highlight: Name == "Victories" }'>
                        Victories
                    </th>
                    <th class="style1" data-bind='css: { highlight: Name == "Accuracy" }'>
                        Accuracy
                    </th>
                    <th class="style1" data-bind='css: { highlight: Name == "TerrainDeformation" }'>
                        Terrain Deformation
                    </th>
                </tr>
            </thead>
            <tbody data-bind='template: { name: "score", foreach: Scores }'>
            </tbody>
        </table>
    </script>
    
    <script id="score" type="text/html">
        <tr>
            <td class="style1" data-bind='css: { highlight: window.viewModel.currentUserName == UserId }, text: Id'></td>
            <td class="style1" data-bind='css: { highlight: window.viewModel.currentUserName == UserId }, text: UserId'></td>
            <td class="style1" data-bind='css: { highlight: window.viewModel.currentUserName == UserId }, text: Rank'></td>
            <td class="style1" data-bind='css: { highlight: window.viewModel.currentUserName == UserId }, text: XP'></td>
            <td class="style1" data-bind='css: { highlight: window.viewModel.currentUserName == UserId }, text: Kills'></td>
            <td class="style1" data-bind='css: { highlight: window.viewModel.currentUserName == UserId }, text: Victories'></td>
            <td class="style1" data-bind='css: { highlight: window.viewModel.currentUserName == UserId }, text: Accuracy'></td>
            <td class="style1" data-bind='css: { highlight: window.viewModel.currentUserName == UserId }, text: TerrainDeformation'></td>
        </tr>
    </script>
</div>
<br />
<input type="button" value="Return to War Room" data-bind='click: function() { window.location.replace("/Client/WarRoom"); }' />

<script type="text/javascript">
    function LeaderboardClient() {
        this.serverInterface = new ServerInterface(this);
    }

    function ViewModel() 
    {
        this.isScoresEmpty = ko.observable(false);
        this.currentUserId = "@this.ViewBag.CurrentUserId";
        this.currentUserName = "@this.ViewBag.CurrentUserName";
        this.userScores = ko.observableArray([]);
        this.topScores = ko.observableArray([]);
        this.showUserScores = ko.observable(false);
    }

    window.topScoresCallback = function (items) {
        window.viewModel.topScores(items);
        window.viewModel.isScoresEmpty(window.viewModel.topScores()[0].Scores.length == 0);
        showBoard("1");
        $(".status").hide();
    };

    window.userScoresCallback = function (items) {
        window.viewModel.userScores(items);
        showBoard("1");
    };

    $(function()
    {
        window.client = new LeaderboardClient();
        window.viewModel = new ViewModel();

        window.client.serverInterface.sendAjaxJsonGet("/user/leaderboard/2?user=" + encodeURIComponent(window.viewModel.currentUserId), null, userScoresCallback, errorCallback);
        window.client.serverInterface.sendAjaxJsonGet("/user/leaderboard/10", null, topScoresCallback, errorCallback);

        ko.applyBindings(viewModel);
    });

    function errorCallback(er) {
        alert("The leaderboard is not available right now, please try later.");
        window.location.replace("/Client/WarRoom");
    }

    function showBoard(id) {
        $(".board").hide();
        $(".userboard").hide();
        $("#board" + id).show();
        $("#userboard" + id).show();

        if (window.viewModel.topScores().length > 0
            && window.viewModel.userScores().length > 0 
            && window.viewModel.userScores()[0].Scores.length > 0) {
            var found = false;

            for (var i = 0; i < window.viewModel.topScores().length; i++) {
                if (window.viewModel.topScores()[i].Id == id) {
                    for (var j = 0; j < window.viewModel.topScores()[i].Scores.length; j++) {
                        if (window.viewModel.topScores()[i].Scores[j].UserId == window.viewModel.currentUserName) {
                            found = true;
                        }
                    }
                }
            }

            window.viewModel.showUserScores(!found);
        }
        else {
            window.viewModel.showUserScores(false);
        }
    }
</script>