
@{
    this.ViewBag.Title = "Tankster | War Room";
}

<h2>War Room</h2>
<p>
    Battle for resources online and contribute to your factions dominance on Aperion.
</p>

<p class="status">
    Loading...
</p>

<div class="gameSelector" style="display: none;">
    <table>
        <tr>
            <td>Login Name:</td>
            <td>
                <span data-bind='visible: !editingUserName(), text: userName'> </span>
                <form>
                    <input type='text' data-bind='visible: editingUserName(), value: userName'/>
                </form>
            </td>
            <td>
                <a href="#" data-bind='visible: !editingUserName(), click: function() { editingUserName(true); }'>Edit</a>
                <a href="#" data-bind='visible: editingUserName(), click: function() { updateNameInServer(); editingUserName(false); }'>Save</a>
            </td>
        </tr>
        <tr>
            <td>Account: </td>
            <td>
                <input type="button" value="Manage Inventory" data-bind='click: function() { window.location.replace("/Client/ManageInventory"); }' style="width: 100%;"/>
                <input type="button" value="Leaderboard" data-bind='click: function() { window.location.replace("/Client/Leaderboard"); }' style="width: 100%;"/>
            </td>
        </tr>
        <tr>
            <td>Select Game Type:</td>
            <td>
                <select id="gameType" name="gameType" style="width: 100%;" data-bind="options: availableGameTypes, optionsText: 'name', value: gameType" >
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <input type="button" id="joinBattleQueue" value="Join Battle Queue" />
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    SetBlobEndpoint("@this.ViewBag.BlobEndpoint");

    var availableGameTypes = [{ name: 'Skirmish' }, { name: 'Invitation'}];

    function UserNameViewModel()
    {
        this.userName = ko.observable("Unknown User");
        this.editingUserName = ko.observable(false);
        this.gameType = ko.observable(availableGameTypes[0]);
    }

    function usersCallback(userProfile) {
        viewModel.userName(userProfile.DisplayName);
        $("#loginName").text();
        $(".status").hide();
        $(".gameSelector").show();
    };

    function onAjaxError(req, status, error) {
        var errorMessage = "GET Error:\nreq:" + req + "\nstatus:" + status + "\nerror:" + error;
        alert(errorMessage);
    };

    UserNameViewModel.prototype.updateNameInServer = function()
    {
        var serverInterface = new ServerInterface();
        serverInterface.sendAjaxPost("/user/profile", { displayName: this.userName() });
    };
    $(function () {

        window.viewModel = new UserNameViewModel();
        ko.applyBindings(window.viewModel);

        function getUserProfile(userId) {
            var url = "{0}users/{1}?callback=?".format(GetBlobEndpoint(), userId);
            $.ajax({
                type: "GET",
                url: url,
                dataType: "jsonp",
                jsonpCallback: "usersCallback",
                error: onAjaxError
            });
        }

        // Get user id
        $.ajax({
            type: "GET",
            url: "/User/Verify",
            success: function (userId) {
                setTimeout(function () { getUserProfile(userId); }, 1000);
            },
            error: function (req, status, error) {
                alert("Verify User error:" + error);
            }
        });

        $('#joinBattleQueue').click(function () {
            var gameType = viewModel.gameType().name;

            if (gameType == "Skirmish") {
                $.ajax({
                    type: "POST",
                    url: "/Game/Queue",
                    data: { gameType: "skirmish" },
                    success: function (data) {
                        window.location.replace("/Client/Skirmish");
                    },
                    error: function (req, status, error) {
                        alert(error);
                    }
                });
            }

            if (gameType == "Invitation") {
                $.ajax({
                    type: "POST",
                    url: "/Game/Create",
                    data: { gameType: "invitation" },
                    success: function (data) {
                        window.location.replace("/Client/Invitation/"+data);
                    },
                    error: function (req, status, error) {
                        alert(error);
                    }
                });
            }
        });
    });
</script>